body {
  padding: 0 30px 0 30px;
}

button {
  font-size: 16px;
  padding: 8px;
}

.orangeButton{
  background-color: pink;
}
.greenButton{
  background-color: lightgreen;
}
.blueButton{
  background-color: lightblue;
}
.purpleButton{
  background-color: yellow;
}
.redButton{
  background-color: green;
}

table, th, td {
  border: 2px solid red;
}

table {
  margin-top: 15px;
}
