body {
  padding: 0 30px 0 30px;
  background-color: grey;
}

button {
  font-size: 16px;
  padding: 8px;
}

.orangeButton{
  background-color: orange;
}
.greenButton{
  background-color: lightgreen;
}
.blueButton{
  background-color: lightblue;
}
.purpleButton{
  background-color: purple;
}
.redButton{
  background-color: red;
}
.yellowButton{
  background-color: yellow;
}

table, th, td {
  border: 1px solid black;
}

table {
  margin-top: 15px;
}
